.m-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-down {
    flex-flow: column nowrap;
}

.flex-accross {
    flex-flow: row nowrap;
}

.b {
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

.b-details,
.b-avatar {
    margin: 2rem;
}

.avatar {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: teal;
}

.b-avatar {
    width: 200px;
    height: 200px;
}

.u-avatar {
    width: 100px;
    height: 100px;
}

.p-avatar {
    width: 50px;
    height: 50px;
}

li {
    list-style-type: none;
}

label {
    font-weight: 500;
}

.login-form {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3rem;
    margin: 4em;
}